<li class="list-group-item">
  {{#link-to 'blog' blog.id}}
  <div class="post">
    <h3>{{blog.title}}</h3>
    <div class="img-center">
      <img src={{blog.image}}>
    </div>
    <p>By: {{blog.author}}</p>
    <p>{{summary blog.body}}</p>
    <h3>{{blog.category}}</h3>
    <p>{{moment-format blog.date}}</p>
    <p>{{moment-from-now blog.date}}</p>
  </div>
  {{/link-to}}
</li>
