{{#if addNewPost}}
<h1>New Post</h1>
<div>
  <form>
    <div class="form-group">
      <label for="title">Title</label>
      {{input class="form-control" value=title id="title"}}
    </div>

    <div class="form-group">
      <label for="body">Body</label>
      {{input class="form-control" value=body id="body"}}
    </div>

    <div class="form-group">
      <label for="author">Author</label>
      {{input class="form-control" value=author id="author"}}
    </div>

    <div class="form-group">
      <label for="image">Image URL</label>
      {{input class="form-control" value=image id="image"}}
    </div>
    <button class="btn btn-success" {{action 'saveEntry1'}}>Save</button>
    <button class="btn btn-warning" {{action 'blogFormHide'}}>Cancel</button>
  </form>
</div>
{{else}}
<button class="btn btn-danger" {{action 'blogFormShow'}}>New Entry</button>
{{/if}}
